@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* font and color */

body {
    font-family: Cormorant, sans-serif;
    font-weight: 300;
    color: #0F0F0FFF;
}

/* logo and nav bar */

#logo {
    float: left;
    font-size: 260%;
    margin-left: 20px;
    line-height: 110px;
    color: #0F0F0FFF;
}

#logo a {
    color: #0F0F0FFF;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    line-height: 120px;
}

#menu a {
    text-decoration: none;
    color: #0F0F0FFF;
}

#menu a :hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid #0F0F0FFF;
}

/*main image and cover text*/

#main-image {

    background: url(../images/pexels-adrienn-1458282.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    line-height: 320px;
    overflow: hidden;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;

    /* animation zoom effect*/
    animation-name: zoom-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes zoom-in {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

#cover-text {
    color: #FFFF;
    text-align: center;
    position: absolute;
    height: 20px;
    margin-left: 10%;
    background-color: rgba(241, 109, 107, .7);
    font-size: medium;

    width: 400px;
    height: 100px;
    bottom: 200px;
    left: 5px;

    padding-top: 20px;
    padding-bottom: 10px;
}

/* ethos*/

#ethos {
    height: 600px;
}

#welcome {
    text-align: center;
    margin: 60px 0 60px 0;
    font-size: 3rem;
}

   
.ethos1 {
    width: 60%;
}
.ethos1 img {
    width: 80%;
    height: auto;
    margin-left: 30px;
    border-radius: 30%;
    border-style: solid;
    border-color: rgba(241, 109, 107, .7);
}

.container {
    display: flex;
}

#right-about {
    text-align: left;
    font-family: Cormorant, sans-serif;
    font-size: 30px;
    width: 30%;
    margin-top: 50px;

}
.ethos2 {
    width: 60%;
}
.ethos2 img {
    width: 80%;
    height: auto;
    margin-left: 30px;
    border-radius: 30%;
    border-style: solid;
    border-color: rgba(241, 109, 107, .7);
}
